* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-item .nav-link {
  font-size: 13px;
  color: #ffffff;
}
form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 100px;
}
form img {
  width: 20px;
  height: 17.66px;
}
form li {
  margin-left: 20px;
}
form button {
  size: 16px;
  margin-left: 6px;
}
.card {
  border-radius: 13px;
}
.card-body a {
  width: 180px;
}
div.examplediv {
  margin-left: 120px;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 34px;
  margin-top: 70px;
  /* Rotate div */
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

p.exampletext {
  /* Rotate p back so that only div is rotated. */
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}

.exampletext img {
  margin-top: 19px;
  margin-left: 9px;
}
.icon-style {
  margin-top: 10px;
}
.icon-style h1 {
  font-size: 35px;
  color: white;
}
.icon-style p {
  text-align: center;
  color: whitesmoke;
}
.cardrow img {
  margin-top: 10px;
}
.cardrow a {
  text-decoration: none;
  color: black;
}
.cardrow .card {
  height: 370px;
}
.oval {
  height: 250px;
  background: #d9d9d9;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  margin-left: -50px;
  margin-right: 0px;
}
.rectangle {
  background: #454545;
}
.list-header {
  font-family: roboto;
  font-size: 18px;
  color: #ffffff;
}
li {
  color: rgba(245, 245, 245, 0.761);
  list-style: none;
  margin: 10px;
}

.footer-content {
  color: #ffffff;
  font-size: 20px;
}
.logo-style {
  margin: auto;
  padding: 10px;
}
.accordion-item h2 {
  font-family: "Roboto";
  font-size: 30px;
  /* or 111% */

  /* Grey/Midnight */

  color: #121212;
}
.accordion-header button {
  font-family: "Roboto";
  font-size: 18px;

  /* Grey/Midnight */

  color: #121212;

  transform: rotate(0.01deg);
}
.accordion {
  margin: 80px;
}
.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
}

/* Responsive  */

@media only screen and (max-width: 1024px) {
  .main-section img {
    display: none;
  }
  form {
    width: 100%;
    display: block;
  }
  .nav-content {
    width: 100%;
    height: auto;
  }
  .nav-content button {
    margin-top: 10px;
  }
  .card-content-header h1 {
    font-size: 25px;
    width: auto;
  }
  .card-content-header p {
    font-size: 20px;
    width: auto;
  }
  .row {
    width: 80%;
    height: auto;
    margin: auto;
  }
  .card a {
    width: 100%;
    height: auto;
  }
  .team-icon-main {
    height: auto;
  }
  .team-icon1 {
    font-size: 25px;
    width: auto;
  }
  .team-icon2 {
    font-size: 15px;
    width: auto;
  }
  .team-icon-column {
    flex-direction: column;
  }
  .team-icon4 {
    margin-top: 40px;
  }
  .icon-style h1 {
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .icon-style p {
    font-size: 22px;
    margin: auto;
  }
  div.examplediv {
    margin: auto;
  }
  .support .card {
    margin-top: 10px;
  }
  .questions h1 {
    font-size: 30px;
    width: auto;
  }
  .accordion {
    margin: auto;
  }
  .accordion-header button {
    font-size: 25px;
  }
  .oval {
    border-radius: 0px;
  }
  .full-footer-content {
    margin: 10px;
  }
  .full-footer-content img {
    height: 50px;
    width: 50x;
  }
  .list-header {
    font-size: 15px;
  }
  li {
    margin: 1px;
    font-size: 13px;
  }
  .footer-content-main4 {
    flex-direction: column;
  }
  .footer-content-main {
    margin: 2px;
  }
  .footer-content {
    font-size: 15px;
    margin: 5px;
  }
  .footer-content-main2 {
    font-size: 13px;
  }

  .footer-content-main3 .logo-style {
    margin: auto;
    height: 35px;
    width: 35px;
    float: right;
  }
}

@media only screen and (max-width: 512px) {
  .main-section img {
    display: none;
  }
  form {
    width: 100%;
    display: block;
  }
  .nav-content {
    width: 100%;
    height: auto;
  }
  .nav-content button {
    margin-top: 10px;
  }
  .card-content-header h1 {
    font-size: 20px;
    width: auto;
  }
  .card-content-header p {
    font-size: 13px;
    width: auto;
  }
  .row {
    width: 80%;
    height: auto;
    margin: auto;
  }
  .card a {
    width: 100%;
  }
  .team-icon-main {
    height: auto;
  }
  .team-icon1 {
    font-size: 20px;
    width: auto;
  }
  .team-icon2 {
    font-size: 10px;
    width: auto;
  }
  .team-icon-column {
    flex-direction: column;
  }
  .team-icon4 {
    margin-top: 40px;
  }
  .icon-style h1 {
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .icon-style p {
    font-size: 17px;
    margin: auto;
  }
  div.examplediv {
    margin: auto;
  }
  .support .card {
    margin-top: 10px;
  }
  .questions h1 {
    font-size: 25px;
    width: auto;
  }
  .accordion {
    margin: auto;
  }
  .accordion-header button {
    font-size: 20px;
  }
  .oval {
    border-radius: 0px;
  }
  .full-footer-content {
    margin: 10px;
  }
  .full-footer-content img {
    display: none;
  }
  .list-header {
    font-size: 10px;
  }
  li {
    margin: 1px;
    font-size: 8px;
  }
  .footer-content-main4 {
    flex-direction: column;
  }
  .footer-content-main {
    margin: 2px;
  }
  .footer-content {
    font-size: 10px;
    margin: 5px;
  }
  .footer-content-main2 {
    font-size: 8px;
  }

  .footer-content-main3 .logo-style {
    margin: auto;
    height: 35px;
    width: 35px;
    float: right;
    display: none;
  }
}
