@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    width: 1520px;
    margin:0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

                            /*  -----> div-1  <-----  */
                            
.container-fluid {
  background-color: #454545;
  width: 1520px;
  height: 650px;
}

.container-fluid .dropdown-item:hover {
  background-color: lightblue;
}

img {
  height: 55px;
  width: 206px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

.nav-item , .nav-link ,.navbar-nav{
  margin-left: -15%;
  justify-content: space-between;
}

.nav-item > a {
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 10px;
}

.button {
  font-family: "Roboto";
  height: 26px;
  width: 130px;
  left: 0px;
  top: 0px;
  font-size: 13px;
  font-weight: 400;
  border-radius: 2px;
  color: #ffbf00;
  box-sizing: border-box;
  background: rgba(255, 191, 0, 0.05);
  border: 1px solid #ffbf00;
  border-radius: 2px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  line-height: 15px;
  margin-left: 150%;
}

.button1 {
  font-family: "Roboto";
  height: 26px;
  width: 135px;
  left: 0px;
  top: 0px;
  font-size: 11px;
  font-weight: 400;
  background-color: #ffbf00;
  box-sizing: border-box;
  border: 1px solid #ffbf00;
  border-radius: 2px;
  color: #121212;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  margin-left: 90%;
}

li img {
  height: 14px;
  width: 14px;
  left: 308px;
  top: 22px;
  border-radius: 0px;
}

h4 {
  color: white;
  position: absolute;
  width: 171px;
  height: 13px;
  left: 93px;
  top: 179px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.02em;
}

p {
  color: #ffffff;
  position: absolute;
  width: 719px;
  height: 108px;
  left: 91px;
  top: 201px;
  font-family: "Oswald Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 54px;
}

p1 {
  color: #ffffff;
  position: absolute;
  width: 471px;
  height: 40px;
  left: 91px;
  top: 321px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

p2 {
  color: #ffffff;
  position: absolute;
  width: 316px;
  height: 25px;
  left: 91px;
  top: 400px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.02em;
}

.contents ul li {
  color: #ffffff;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.02em;
  text-decoration: underline 1px solid white;
  list-style-type: none;
  margin-left: -2%;
}
.contents ul li img {
  background: #ffbf00;
  box-shadow: 0px 1px 2px rgba(48, 79, 254, 0.54);
  border-radius: 20px;
  margin: 5%;
}

.gami {
  width: 171px;
  height: 13px;
  left: 116px;
  top: 442px;
}
.dist {
  width: 171px;
  height: 13px;
  left: 116px;
  top: 477px;
}
.auth {
  width: 171px;
  height: 13px;
  left: 116px;
  top: 512px;
}
.brand {
  width: 171px;
  height: 13px;
  left: 304px;
  top: 442px;
}
.int {
  width: 171px;
  height: 13px;
  left: 304px;
  top: 476px;
}

.button3 {
  color: #121212;
  background: #ffbf00;
  border-radius: 2px;
  border: none;
  height: 37px;
  width: 185px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  align-items: center;
  text-align: center;
  top: 80%;
  left: 10%;
}

.enterprise-logo {
  position: absolute;
  width: 317px;
  height: 396px;
  left: 1038px;
  top: 171px;
}

                                    /* ----->  div-2  <----- */

.container1 {
  position: absolute;
  background-color: white;
  width: 1520px;
  height: 300px;
  margin: 100px;
  left: 0px;
  top: 610px;
}

.brands {
  position: absolute;
  left: 70px;
  top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flipkart {
  position: absolute;
  width: 127.76px;
  height: 98px;
  left: -100px;
}
.isb {
  position: absolute;
  width: 126.75px;
  height: 98px;
  left: 150px;
}
.myntra {
  position: absolute;
  width: 126.75px;
  height: 97px;
  left: 400px;
}
.starsports {
  position: absolute;
  width: 125.74px;
  height: 98px;
  left: 650px;
}
.vi {
  position: absolute;
  width: 126.75px;
  height: 98px;
  left: 900px;
}
.unilever {
  position: absolute;
  width: 127.76px;
  height: 99px;
  left: 1150px;
}

.customers {
  position: absolute;
  color: #121212;
  background: #ffbf00;
  border-radius: 2px;
  border: none;
  width: 266px;
  height: 41px;
  left: 500px;
  top: 185px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  align-items: center;
  text-align: center;
}

                                  /* -----> div-3  <-----  */
.Gamification {
  position: absolute;
  width: 1520px;
  height: 550px;
  left: 0px;
  top: 982px;
  background: #f5f5f5;
}

.content-1 {
  position: absolute;
  width: 431px;
  height: 268px;
  left: 64px;
  top: 45px;
}

.content-1 h4 {
  position: absolute;
  width: 171px;
  height: 13.89px;
  left: 67px;
  top: 44.86px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #121212;
}

.content-1 p {
  position: absolute;
  width: 431px;
  height: 76.9px;
  left: 64px;
  top: 67.29px;
  font-family: "Oswald Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: #121212;
}

.content-1 span {
  position: absolute;
  width: 390px;
  height: 58px;
  left: 5px;
  top: 67px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #333333;
}

.content-1 ul .li-1 {
  position: absolute;
  width: 357px;
  height: 27px;
  left: 75px;
  top: 210px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #333333;
  list-style: none;
}

.content-1 ul .li-2 {
  position: absolute;
  width: 357px;
  height: 27px;
  left: 75px;
  top: 255px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #333333;
  list-style: none;
}

.content-1 ul .li-3 {
  position: absolute;
  width: 357px;
  height: 27px;
  left: 75px;
  top: 295px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #333333;
  list-style: none;
}

.content-1 ul li img {
  color: white;
  background: #ffbf00;
  box-shadow: 0px 1px 2px rgba(48, 79, 254, 0.54);
  border-radius: 20px;
}

.content-1 .scale {
  position: absolute;
  width: 453px;
  height: 340px;
  left: 801px;
  top: 39px;
}

                                      /* -----> div-4 <----- */

.Distribution {
  position: absolute;
  width: 1520px;
  height: 550px;
  left: 0px;
  top: 1480px;
  background: #ffffff;
}

.content-2 {
  position: absolute;
  width: 431px;
  height: 268px;
  left: 64px;
  top: 45px;
}

.content-2 h4 {
  position: absolute;
  width: 171px;
  height: 13.89px;
  left: 67px;
  top: 44.86px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #121212;
}

.content-2 p {
  position: absolute;
  width: 431px;
  height: 76.9px;
  left: 64px;
  top: 67.29px;
  font-family: "Oswald Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: #121212;
}

.content-2 p span {
  position: absolute;
  width: 390px;
  height: 58px;
  left: 5px;
  top: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #333333;
}

.content-2 ul {
  position: absolute;
  width: 385px;
  height: 110.24px;
  left: 5px;
  top: 30px;
  list-style: none;
}
.content-2 ul .li-1 {
  position: absolute;
  width: 357px;
  height: 27px;
  left: 70px;
  top: 202px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #333333;
}
.content-2 ul .li-2 {
  position: absolute;
  width: 316px;
  height: 27px;
  left: 70px;
  top: 245px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #333333;
}
.content-2 ul .li-3 {
  position: absolute;
  width: 316px;
  height: 27px;
  left: 70px;
  top: 300px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #333333;
}
.content-2 .security {
  position: absolute;
  width: 453px;
  height: 340px;
  left: 803px;
  top: 50px;
}
.content-2 ul li img {
  color: white;
  background: #ffbf00;
  box-shadow: 0px 1px 2px rgba(48, 79, 254, 0.54);
  border-radius: 20px;
}

                                    /* -----> div-5 <----- */
.Authoring {
  position: absolute;
  width: 1520px;
  height: 550px;
  left: 0px;
  top: 2000px;
  background: #f5f5f5;
}

.content-3 {
  position: absolute;
  width: 431px;
  height: 268px;
  left: 64px;
  top: 45px;
}

.content-3 h4 {
  position: absolute;
  width: 171px;
  height: 13.89px;
  left: 67px;
  top: 44.86px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #121212;
}

.content-3 p {
  position: absolute;
  width: 431px;
  height: 76.9px;
  left: 64px;
  top: 67.29px;
  font-family: "Oswald Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: #121212;
}

.content-3 p span {
  position: absolute;
  width: 390px;
  height: 58px;
  left: 5px;
  top: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #333333;
}

.content-3 ul {
  position: absolute;
  width: 385px;
  height: 110.24px;
  left: 5px;
  top: 30px;
  list-style: none;
}
.content-3 ul .li-1 {
  position: absolute;
  width: 357px;
  height: 27px;
  left: 70px;
  top: 202px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #333333;
}
.content-3 ul .li-2 {
  position: absolute;
  width: 316px;
  height: 27px;
  left: 70px;
  top: 245px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #333333;
}
.content-3 ul .li-3 {
  position: absolute;
  width: 316px;
  height: 27px;
  left: 70px;
  top: 300px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #333333;
}
.content-3 ul .li-4 {
  position: absolute;
  width: 316px;
  height: 27px;
  left: 70px;
  top: 340px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #333333;
}

.content-3 .engagement {
  position: absolute;
  width: 460px;
  height: 350px;
  left: 801px;
  top: 60px;
}
.content-3 ul li img {
  color: white;
  background: #ffbf00;
  box-shadow: 0px 1px 2px rgba(48, 79, 254, 0.54);
  border-radius: 20px;
}

                              /* -----> div-6 <----- */
.Branding {
  position: absolute;
  width: 1520px;
  height: 550px;
  left: 0px;
  top: 2500px;
}

.content-4 {
  position: absolute;
  width: 431px;
  height: 268px;
  left: 64px;
  top: 45px;
}

.content-4 h4 {
  position: absolute;
  width: 171px;
  height: 13.89px;
  left: 67px;
  top: 45px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #121212;
}

.content-4 p {
  position: absolute;
  width: 431px;
  height: 76.9px;
  left: 64px;
  top: 68px;
  font-family: "Oswald Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: #121212;
}

.content-4 p span {
  position: absolute;
  width: 390px;
  height: 58px;
  left: 5px;
  top: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #333333;
}

.content-4 ul {
  position: absolute;
  width: 385px;
  height: 110.24px;
  left: 5px;
  top: 30px;
  list-style: none;
}
.content-4 ul .li-1 {
  position: absolute;
  width: 357px;
  height: 27px;
  left: 70px;
  top: 202px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #333333;
}
.content-4 ul .li-2 {
  position: absolute;
  width: 316px;
  height: 27px;
  left: 70px;
  top: 245px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #333333;
}
.content-4 ul .li-3 {
  position: absolute;
  width: 316px;
  height: 27px;
  left: 70px;
  top: 300px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #333333;
}
.content-4 .platform {
  position: absolute;
  width: 460px;
  height: 350px;
  left: 800px;
  top: 70px;
}
.content-4 ul li img {
  color: white;
  background: #ffbf00;
  box-shadow: 0px 1px 2px rgba(48, 79, 254, 0.54);
  border-radius: 20px;
}

                                    /* -----> div-7 <----- */
.Interactivity {
  position: absolute;
  width: 1520px;
  height: 550px;
  left: 0px;
  top: 3000px;
  background: #f5f5f5;
}

.content-5 {
  position: absolute;
  width: 430px;
  height: 260px;
  left: 64px;
  top: 50px;
}

.content-5 h4 {
  position: absolute;
  width: 171px;
  height: 13.89px;
  left: 67px;
  top: 55px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #121212;
}

.content-5 p {
  position: absolute;
  width: 431px;
  height: 76.9px;
  left: 64px;
  top: 90px;
  font-family: "Oswald Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: #121212;
}

.content-5 p span {
  position: absolute;
  width: 390px;
  height: 58px;
  left: 5px;
  top: 80px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #333333;
}

.content-5 ul {
  position: absolute;
  width: 385px;
  height: 110.24px;
  left: 5px;
  top: 30px;
  list-style: none;
}
.content-5 ul .li-1 {
  position: absolute;
  width: 357px;
  height: 27px;
  left: 70px;
  top: 202px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #333333;
}
.content-5 ul .li-2 {
  position: absolute;
  width: 316px;
  height: 27px;
  left: 70px;
  top: 245px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #333333;
}
.content-5 ul .li-3 {
  position: absolute;
  width: 316px;
  height: 27px;
  left: 70px;
  top: 300px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #333333;
}
.content-5 .slack-connect {
  position: absolute;
  width: 460px;
  height: 350px;
  left: 800px;
  top: 70px;
}
.content-5 ul li img {
  color: white;
  background: #ffbf00;
  box-shadow: 0px 1px 2px rgba(48, 79, 254, 0.54);
  border-radius: 20px;
}

                                  /* -----> div-8 <----- */
.cards {
  position: absolute;
  width: 1520px;
  height: 590px;
  left: 1px;
  top: 3500px;
  background: #ffbf00;
}
.content-6 h4 {
  position: absolute;
  width: 450px;
  height: 55px;
  left: 500px;
  top: 60px;
  font-family: "Oswald Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 54px;
  align-items: center;
  text-align: center;
  color: #333333;
}
.cards-overlay {
  position: absolute;
  width: 1050px;
  height: 345px;
  left: 150px;
  top: 50px;
}
.cards-overlay .card-1 {
  position: absolute;
  width: 226px;
  height: 343px;
  left: 50px;
  top: 165px;
}
.cards-overlay .card-2 {
  position: absolute;
  width: 226px;
  height: 343px;
  left: 325px;
  top: 165px;
}
.cards-overlay .card-3 {
  position: absolute;
  width: 226px;
  height: 343px;
  left: 600px;
  top: 165px;
}
.cards-overlay .card-4 {
  position: absolute;
  width: 226px;
  height: 343px;
  left: 875px;
  top: 165px;
}

/* -----> div-9 <----- */
.faq {
  position: absolute;
  width: 1520px;
  height: 680px;
  left: 4px;
  top: 4100px;
}

.faq .header {
  position: absolute;
  width: 605px;
  height: 54px;
  left: 450px;
  top: 80px;
  font-family: "Oswald Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #121212;
}

.accordion {
  position: absolute;
  top: 200px;
  width: 1400px;
  left: 50px;
  color: #121212;
}

.accordion .accordion-body {
  margin-left: 5%;
}

.accordion-item .accordion-header {
  margin-left: 5%;
  margin-top: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #121212;
  transform: rotate(0.01deg);
}

.accordion-button {
  font-family: "Roboto";
  font-style: normal;
  color: #121212;
  font-weight: 700;
  font-size: 18px;
}

                                        /* -----> div-10 <----- */
.ellipse .semi {
  position: absolute;
  width: 1520px;
  height: 300px;
  left: 0px;
  top: 0px;
}

.ellipse h1 {
  position: absolute;
  width: 437px;
  height: 54px;
  left: 550px;
  top: 50px;
  font-family: "Oswald Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.ellipse .btn1 {
  position: absolute;
  width: 240px;
  height: 40px;
  left: 550px;
  top: 150px;
  color: #121212;
  background: #FFBF00;
  border-radius: 2px;
  border: none;
  height: 37px;
  width: 185px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  align-items: center;
  text-align: center;
}

.ellipse .btn2 {
  position: absolute;
  width: 220px;
  height: 40px;
  left: 780px;
  top: 150px;
  background: rgba(255, 191, 0, 0.05);
  border: 1px solid #ffbf00;
  border-radius: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #454545;
}
.footer {
  background-color: #454545;
  box-sizing: border-box;
  position: absolute;
  width: 1520px;
  height: 900px;
  left: -48px;
  top: 4900px;
  background: #454545;
  border: 1px solid #454545;
  margin: 50px;
  display: flex;
  justify-content: space-between;
}

.footer1 {
  position: absolute;
  margin-top: 25%;
  margin-left: 30%;
  display: flex;
  justify-content: space-evenly;
}
.footer2 {
  position: absolute;
  height: 0px;
  left: 17px;
  top: 750px;
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #ffffff;
  border: 0.544653px solid #454545;
}

.footer2 p {
  position: absolute;
  width: 456px;
  height: 39.35px;
  left: 15px;
  top: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #efefef;
  border: 1px solid #454545;
}

.footer .logo {
  position: absolute;
  height: 146px;
  width: 156px;
  left: 150px;
  top: 380px;
  border-radius: 0px;
}
.footer .vector {
  position: absolute;
  width: 1400px;
  height: 0px;
  left: 40px;
  top: 700px;
  border: 1px solid #AAAAAA;
}
.list-header {
  color: white;
  top: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: -0.02em;
}

li {
  color: white;
  list-style: none;
  margin: 10px;
}

.footer-content {
  color: white;
  font-size: 20px;
}

.accordion-item h2 {
  font-family: "Roboto";
  font-size: 88px;
  color: white;
}

.icons {
  position: absolute;
  left: 700px;
  top: 40px;
}

.facebook {
  position: absolute;
  width: 24px;
  height: 22.49px;
  left: 410px;
}

.twitter {
  position: absolute;
  width: 24px;
  height: 22.49px;
  left: 480px;
}

.instagram {
  position: absolute;
  width: 24px;
  height: 22.49px;
  left: 540px;
}

.youtube {
  position: absolute;
  width: 24px;
  height: 22.49px;
  left: 610px;
}

.linkedin {
  position: absolute;
  width: 24px;
  height: 22.49px;
  left: 670px;
}


                                        /*******   RESPONSIVE  *******/

@media  (max-width:425px)  {
  body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
                                    /* -----> div-1 <----- */
  .container-fluid {
    height: 2600px;
  }
  .container-fluid .navbar img {
   width: 200px;
   height: 100px;
   top: 5pc;
  }
  .container-fluid nav {
    background-repeat: no-repeat;
   }
   .container-fluid h4 {
    font-size: 90px;
    font-weight: 900;
    line-height: 70px;
    width: 900px;
    top: 20pc;
    left: 35pc;
   }
   .container-fluid p {
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    width: 1000px;
    text-align: center;
    left: 20pc;
    top: 30pc;
   }
   .container-fluid p1 {
    width: 1000px;
    font-size: 70px;
    font-weight: 900;
    line-height: 80px;
    text-align: center;
    left: 20pc;
    top: 45pc;
   }
   .container-fluid p2 {
    width: 1000px;
    font-size: 70px;
    font-weight: 900;
    line-height: 80px;
    text-align: center;
    left: 20pc;
    top: 70pc;
   }
   .container-fluid .contents li {
    width: 800px;
    font-size: 50px;
    font-weight: 900;
    line-height: 80px;
   }
   .contents li img {
    width: 50px;
    height: 50px;
   }
   .container-fluid .contents .gami{
    top: 80pc;
    left: 30pc;
   }
   .container-fluid .contents .dist{
    top: 85pc;
    left: 30pc;
   }
   .container-fluid .contents .auth{
    top: 90pc;
    left: 30pc;
   }
   .container-fluid .contents .brand{
    top: 95pc;
    left: 30pc;
   }
   .container-fluid .contents .int{
    top: 100pc;
    left: 30pc;
   }
   .container-fluid .button3 {
    width: 400px;
    height: 100px;
    font-size: 40px;
    font-weight: 700;
    top: 110pc;
    left: 35pc;
   }
   .container-fluid .enterprise-logo {
    width: 600px;
    height: 600px;
    top: 120pc;
    left: 30pc;
   }


                                     /* -----> div-2 <----- */
   .container1 {
    width: 100%;
    margin-top: 550%;
   }
  .container1 .brands img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position:static;
    margin-left: 150%;
    width: 300px;
    height: 300px;
  }
  .container1 button {
    margin-top: 450%;
    margin-left: -50%;
    width: 800px;
    height: 150px;
    font-size:50px; 
  }

                                  /* -----> div-3 <----- */
  .Gamification, .Distribution,
  .Authoring,.Branding,.Interactivity {
    /* margin-top: 1000%; */
    background-color: white;
  }
  .Gamification {
    height: 1000px;
    margin-top: 1000%;
  }
  .Gamification  .content-1 h4{
    width: 900px;
    font-size: 80px;
    font-weight: 700;
    line-height: 40px;
    left: 30pc;
  }
  .Gamification  .content-1 p {
    width: 900px;
    font-size: 60px;
    font-weight: 700;
    line-height: 40px;
    top: 8pc;
    left: 20pc;
  }
  .Gamification  .content-1 span {
    width: 900px;
    font-size: 50px;
    font-weight: 700;
    line-height: 40px;
  }
  .Gamification .content-1 ul .li-1 {
    width: 1200px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    top: 30pc;
    left: 10pc;
  }
  .Gamification .content-1 ul .li-2 {
    width: 1200px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    top: 35pc;
    left: 10pc;
  }
  .Gamification .content-1 ul .li-3 {
    width: 1200px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    top: 40pc;
    left: 10pc;
  }
  .Gamification .scale {
    width: 700px;
    height: 500px;
    top: 50pc;
    left: 20pc;
  }
  .Distribution {
    height: 1000px;
    margin-top: 1250%;
  }
  .Distribution  .content-2 h4{
    width: 900px;
    font-size: 80px;
    font-weight: 700;
    line-height: 40px;
    left: 30pc;
  }
  .Distribution  .content-2 p {
    width: 900px;
    font-size: 60px;
    font-weight: 700;
    line-height: 40px;
    top: 8pc;
    left: 20pc;
  }
  .Distribution  .content-2 span {
    width: 900px;
    font-size: 50px;
    font-weight: 700;
    line-height: 40px;
  }
  .Distribution .content-2 ul .li-1 {
    width: 1200px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    top: 30pc;
    left: 10pc;
  }
  .Distribution .content-2 ul .li-2 {
    width: 1200px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    top: 35pc;
    left: 10pc;
  }
  .Distribution .content-2 ul .li-3 {
    width: 1200px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    top: 40pc;
    left: 10pc;
  }
  .Distribution .security {
    width: 700px;
    height: 500px;
    top: 50pc;
    left: 20pc;
  }
  .Authoring {
    height: 1000px;
    margin-top: 1500%;
  }
  .Authoring  .content-3 h4{
    width: 900px;
    font-size: 80px;
    font-weight: 700;
    line-height: 40px;
    left: 30pc;
  }
  .Authoring  .content-3 p {
    width: 900px;
    font-size: 60px;
    font-weight: 700;
    line-height: 40px;
    top: 8pc;
    left: 20pc;
  }
  .Authoring  .content-3 span {
    width: 900px;
    font-size: 50px;
    font-weight: 700;
    line-height: 40px;
  }
  .Authoring .content-3 ul .li-1 {
    width: 1200px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    top: 30pc;
    left: 10pc;
  }
  .Authoring .content-3 ul .li-2 {
    width: 1200px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    top: 35pc;
    left: 10pc;
  }
  .Authoring .content-3 ul .li-3 {
    width: 1200px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    top: 40pc;
    left: 10pc;
  }
  .Authoring .content-3 ul .li-4 {
    width: 1200px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    top: 45pc;
    left: 10pc;
  }
  .Authoring .engagement {
    width: 700px;
    height: 500px;
    top: 55pc;
    left: 20pc;
  }
  .Branding {
    height: 1000px;
    margin-top: 1800%;
  }
  .Branding  .content-4 h4{
    width: 900px;
    font-size: 80px;
    font-weight: 700;
    line-height: 40px;
    left: 30pc;
  }
  .Branding  .content-4 p {
    width: 900px;
    font-size: 60px;
    font-weight: 700;
    line-height: 40px;
    top: 8pc;
    left: 20pc;
  }
  .Branding  .content-4 span {
    width: 900px;
    font-size: 50px;
    font-weight: 700;
    line-height: 40px;
  }
  .Branding .content-4 ul .li-1 {
    width: 1200px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    top: 30pc;
    left: 10pc;
  }
  .Branding .content-4 ul .li-2 {
    width: 1200px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    top: 35pc;
    left: 10pc;
  }
  .Branding .content-4 ul .li-3 {
    width: 1200px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    top: 40pc;
    left: 10pc;
  }
  .Branding .platform {
    width: 700px;
    height: 500px;
    top: 50pc;
    left: 20pc;
  }
  .Interactivity {
    height: 1000px;
    margin-top: 2100%;
  }
  .Interactivity  .content-5 h4{
    width: 900px;
    font-size: 80px;
    font-weight: 700;
    line-height: 40px;
    left: 30pc;
  }
  .Interactivity  .content-5 p {
    width: 900px;
    font-size: 60px;
    font-weight: 700;
    line-height: 40px;
    top: 8pc;
    left: 20pc;
  }
  .Interactivity  .content-5 span {
    width: 900px;
    font-size: 50px;
    font-weight: 700;
    line-height: 40px;
  }
  .Interactivity .content-5 ul .li-1 {
    width: 1200px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    top: 30pc;
    left: 10pc;
  }
  .Interactivity .content-5 ul .li-2 {
    width: 1200px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    top: 35pc;
    left: 10pc;
  }
  .Interactivity .content-5 ul .li-3 {
    width: 1200px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    top: 40pc;
    left: 10pc;
  }
  .Interactivity .slack-connect {
    width: 700px;
    height: 500px;
    top: 50pc;
    left: 20pc;
  }
 
                                    /* -----> div-4 <----- */
  .cards {
    margin-top: 2400%;
    height: 450%;
  }
  .cards .content-6 h4  {
    font-size: 80px;
    font-weight: 900;
    width: 900px;
    left: 20pc;
    top: 10pc;
    text-align: center;
    line-height: 80px;
  }
  .cards .content-6 .cards-overlay .card-1{
    width: 500px;
    height: 600px;
    margin-top: 10%;
    margin-left: 30%;
  }
  .cards .content-6 .cards-overlay .card-2{
    width: 500px;
    height: 600px;
    margin-top: 70%;
    margin-left: 4%;
  }
  .cards .content-6 .cards-overlay .card-3{
    width: 500px;
    height: 600px;
    margin-top: 130%;
    margin-left: -23%;
  }
  .cards .content-6 .cards-overlay .card-4{
    width: 500px;
    height: 600px;
    margin-top: 190%;
    margin-left: -50%;
  }
  
                                  /* -----> div-5 <----- */
  .faq {
    margin-top:3100%;
  }
  .faq .header{
  font-size:60px; 
  font-weight: 900;
  width: 1000px;
  left: 20pc;
  }
 .faq .accordion-button {
  font-size:60px; 
  font-weight: 900;
  /* top: 10pc; */
  }
  .faq .accordion-body {
    font-size: 40px;
    font-weight: 700;
  }

                                    /* -----> div-6 <----- */
  .footer {
    margin-top: 3200%;
    max-width: 400%;
    height: 5700px;
    display: flex;
    flex-direction: row;
  }
  .footer .ellipse .semi{
    width: 1520px;
    margin: 0;
    height: 400px;
  }
  .ellipse h1 {
  font-size: 60px;
  font-weight: 900;
  width: 900px;
  top: 5pc;
  left: 20pc;
}
  .ellipse .btn1 {
  width: 300px;
  height: 100px;
  margin: 5%;
  font-size: 40px;
  margin-left: -10%;
  font-weight: 900;
}
  .ellipse .btn2 {
  width: 300px;
  height: 100px;
  margin: 5%;
  font-size: 40px;
  font-weight: 900;
}
  .footer .logo {
   margin-top: 2%;
   margin-left: 20%;
   width: 400px;
   height: 300px;
  }
  .footer ,.list-header {
   font-size: 70px;
   line-height: 100px;
   width: 1520px;
  }
  .footer .footer1{
    max-width: 425px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 50% ;
  }
  .footer2 p ,.footer-content{
    margin-top: 270%;
    display: block;
    flex-direction: row;
    font-size: 60px;
    line-height: 120px;
  }
  .footer2 .icons {
   top: 300pc;
   left: 10pc;
 }
 .footer2 .icons .facebook {
  width: 200px;
   height: 100px;
   left: 0pc;
 }
 .footer2 .icons .twitter {
  width: 200px;
   height: 100px;
   left: 15pc;
 }
 .footer2 .icons .instagram {
  width: 200px;
   height: 100px;
   left: 30pc;
 }
 .footer2 .icons .youtube {
  width: 200px;
   height: 100px;
   left: 45pc;
 }
 .footer2 .icons .linkedin {
  width: 200px;
   height: 100px;
   left: 60pc;
 }
}